@font-face {
  font-family: "Bebas";
  src: url("BEBAS.ttf") format('truetype');
}


*{
  box-sizing: border-box;
}

body {
  font-family: 'Bebas', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

a:hover {
  /* color: #FF7676; */
  color: #C53364;
  text-decoration: none;
}

.vh-50 {
  height: 50vh;
  width: 100%;
}

.bg-gradient {
  background: linear-gradient(to bottom right, #5b247a, #1bcedf);
}

.guest-shot {
  width: auto;
  height: 200px;
}

.debug {
  border: 1px solid white;
}

.promo-video {
  width: 800px;
  height: 450px;
}

.txt-white {
  color: white;
}

.gradient-header {
  background: -webkit-linear-gradient(#FF7676, #F54EA2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
